/* .package-name {
    -webkit-text-stroke: 0.1px orange;
} */
.package-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
/* Mobile responsive */
@media only screen and (max-width:688px) {
    .package-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
.package{
    /* background-color: rgb(226, 241, 241); */
}
/* .package img{
    width: 100%;
    height: 300px;
} */